/*----------------------------
            Body 
-----------------------------*/
body{
    background-color: rgba(31, 30, 56, 0.78) !important;
}

/*----------------------------
            Header
----------------------------*/
.welcome-header{
    font-size: 1.7em !important;
    color: #fff !important;
    font-weight: 600 !important;
}

[data-ma-header="teal"]:before, [data-ma-header="teal"] #header{
    background-color: rgba(19, 86, 125, 0.94) !important;
}

.palette-Blue-Grey.bg {
    
    background-color: #607D8B !important;
}

/*-------------------------
            Visits
--------------------------*/
.ca-item{
    background: rgba(31, 30, 56, 0.78) !important;
}

/*-------------------------
            Menu
--------------------------*/
li.dashboard, li.dashboard > a{

    color: rgba(255, 190, 0, 0.99) !important;
}

.main-menu a{
    color: #fff !important;
}

.main-menu a:hover{
    color: #3a8dd4 !important;
    background-color: rgba(31, 30, 56, 0.78) !important;
}

ul.main-menu {

    background-color: #504F63 !important;
}


.sub-menu ul > li.active > a{

    /*color: #1d4867 !important;*/
}
.smm-header i {

    background-color: rgba(255, 190, 0, 0.99);
    color: #fff;
}

.sub-menu > a:before, .sub-menu > a:after{
    color: /* #f33838 */ #f9fd00 !important;
}

li.sub-menu ul > li ul {

    background-color: #504F63 !important;
}

.smm-header {

    background-image: url(../logo.fw.png) !important;
}

.smm-alerts > li {

    width: 400px !important;
    font-size: 18px !important;
    display: inline !important;
    background-color: rgba(255, 255, 255, 0) !important;
}

.smm-alerts > li > i {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    text-align: center;
    line-height: 43px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 20px;
    vertical-align: top;
    cursor: pointer;
    -webkit-transition: background-color;
    -o-transition: background-color;
    transition: background-color;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
}

/* icons */
i.blue {

    color: #03A9F4 !important;
}

i.red_less {

    color: #EF5350 !important;
}

i.green {

    color: #00C853 !important;
}

i.green_less {

    color: #26A69A !important;
}

i.yellow {

    color: #F0DD2F !important;
}

i.purple {

    color: #BA68C8 !important;
} 

/* Buttons */

div.btn-group-justified > div.btn-group {

    height: 55px !important;
    padding: 0 0.5px !important;
}

div.btn-group-justified > div.btn-group > button {

    height: 40px !important;
    font-weight: bold !important;
    font-size: 1.1em !important;
}

/* Text */
div.core-text > h1 {

    color: #fff !important;
    font-size: 2.8em !important;
    font-weight: bold !important;
    padding: 0 0 2% 0 !important;
}

/* Alert */
.alert-core-1{
    padding: 1% 3% !important;
}

div.dash-margin {

    padding: 0 0 3% 0 !important;
}

div.dash-notify {

    margin: 4% 0 0 0 !important;
    padding: 0% 2% !important;
}

div.core-alert > div {

    padding: 0.5% !important;
}

.alert-default {
    background-color: #ffffff;
    border-color: transparent;
    border-left: rgba(255, 190, 0, 0.99) solid;
    border-right: rgba(255, 190, 0, 0.99) solid;
    color: #000000;
}

/* CORE */
div.core-box-grey {

    background-color: #d8d4d4 !important;
}

div.core-overview {

    padding: 5px 33px !important;
}

div.core-overview > div {

    margin: 2% 0 !important;
}


div.core-overview  span > i {

    color: #610101 !important;
    font-size: 16px !important;    
}

div.core-overview  span > a {

    font-size: 15px !important;
    font-weight: bold !important;    
    color: #fff !important;
}

div.core-overview  span > a:hover {

    color: #ffa829 !important;
}


div.core-overview-two span > i {

    color: #63bf00 !important;
    font-size: 16px !important;    
}

/* MARGIN */
.mag-0 {
    
    margin: 0 !important;
}

.mag-top-5 {

    margin-top: 5px !important;
}

.mag-btm-5 {

    margin-bottom: 5px !important;
}

/* PADDING */
.pad-top-5 {

    padding-top: 5% !important;
}

.pad-btm-0 {

    padding-bottom: 0px !important;
}

/* FLOAT */
.flt-left {

    float: left !important;
}

.flt-right {

    float: right !important;
}

/* Bulk Action */
.buld-action {

    position: relative;
    padding: 0px 30px 5px 27px;
    border-radius: 2px 2px 0 0;
}

/* Border Radius */
.brd-20 {

    /* border-radius: 20px !important; */
    border-radius: 5px !important;

}

.brd-5 {

    border-radius: 5px !important;
}


/* Card Form box*/
.card {

    background: rgb(253, 253, 253) !important;
}

.card-header>h2 {

    font-size: 30px;
}

.card-header h2 small {

    font-size: 14px !important;
}

/* Other */
.no-display {
    display: none !important;
}

/* Placeholder */

::-webkit-input-placeholder{ /* Chrome/Opera/Safari */

    color: #000 !important;
    font-weight: 300 !important;
    font-size: 12px !important;
}

::-moz-placeholder { /* Firefox 19+ */

    color: #000 !important;
    font-weight: 300 !important;
    font-size: 12px !important;
}

:-ms-input-placeholder { /* IE 10+ */

    color: #000 !important;
    font-weight: 300 !important;
    font-size: 12px !important;
}

:-moz-placeholder { /* Firefox 18- */

    color: #000 !important;
    font-weight: 300 !important;
    font-size: 12px !important;
}

/* Background */
.palette-Blue-Only.bg {

    background-color: #1b397b !important;
}

/* Colors */
.color-red {

  color: #c70000 !important;
}

/* Error */
.error {

  color: #c70000 !important;
  font-size: 11px !important;
  font-weight: 500;
}

/* Form Label */
label, label.form-label {

    color: #455865d9 !important;
    font-weight: bold !important;
}

.fa-asterisk {

  color: #c70000 !important;
}

/* Tbale */
.table > tbody > tr {

    color: #080082 !important;
}

tr.active > td{

    background-color: rgba(240, 240, 240, 0) !important;
}

.table-striped > tbody > tr {
    
    color: #fff !important;
    background-color: rgba(19, 86, 125, 0.94) !important;
    border-bottom: 2px solid #fff;
    font-size: 1em !important;
}

/* Login & Forgot Password */
[data-lbg="purple"] {

    background-color: rgba(19, 86, 125, 0.94) !important;
}

.palette-Purple.bg {

    background-color: #504F63;
}

.palette-Purple.text {

    color: #ff0000;
}

[data-lbg="teal"] {

    background-color: #504F63;
}

.palette-Teal.bg {

    background-color: #13567D;
}

.palette-Teal.text {

    color: #000;
}

small {
    font-size: 9px !important;
}

/* Add More */
.add-more-subcat {

    padding: 5% !important;
}

/*.form-control:not(.fc-alt).auto-size {
    
    height: 35px !important;
}*/

/* Headers */

.cust-card-header-h2 > h2 {
    font-weight: bold;
}


/* PADDING */

.cust-card-padding {
    padding: 5% 10% !important;
}

.pad-top-5 {
    padding-top: 5% !important;
}

.pad-btm-0 {
    padding-bottom: 0px !important;
}


/* MARGIN */

.c-m-tb-2 {
    margin: 2% 0px !important;
}

.c-m-t-3 {
    margin-top: 5% !important;
}


/* Placeholder */

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #000 !important;
    font-weight: 300 !important;
    font-size: 12px !important;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #000 !important;
    font-weight: 300 !important;
    font-size: 12px !important;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #000 !important;
    font-weight: 300 !important;
    font-size: 12px !important;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #000 !important;
    font-weight: 300 !important;
    font-size: 12px !important;
}


/* Background */

.palette-Blue-Only.bg {
    background-color: #1b397b !important;
}


/* Input Box Header */

label.fg-label {
    color: #000 !important;
    font-weight: bold !important;
}

.input-label {
    color: #000 !important;
    font-weight: bold !important;
}

.background-input {
    background: #fff !important;
    border-radius: 5px !important;
    padding: 1% !important;
}


/* Cards */

.card-bg-grey {
    background: #ececec !important;
}


/* Blog Post */


/*link*/

.curr-hide {
    display: none;
}

#current-link {
    text-decoration: underline !important;
    color: #ff0909 !important;
}

#current-link-label {
    color: #0a6ebd !important;
}

.change-current-link {
    margin: 0 1% !important;
    color: #fff !important;
    border-radius: 3px !important;
    background: #504F63 !important;
    font-size: 12px !important;
    border: 0px !important;
}

.change-current-link:hover {
    margin: 0 1% !important;
    color: #fff !important;
    border-radius: 3px !important;
    background: #504F63 !important;
    font-size: 12px !important;
}

.change-current-cancel {
    margin: 0 0% !important;
    color: #000 !important;
    border-radius: 3px !important;
    background: #ffffff00 !important;
    border: 0px !important;
}

.changeLink {
    padding: 3px !important;
    cursor: pointer !important;
}

input[type="text"].current-txt-input {
    border: 1px solid rgb(155, 148, 148);
    border-radius: 4px;
}

input[type=text].current-txt-input:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
    border-radius: 4px;
}


/* Summernote | Text Editor */

.note-editor .note-toolbar {
    text-align: left !important;
    margin: 0% !important;
    padding: 0% !important;
}

.note-editor .note-editing-area .note-editable {
    height: 500px !important;
}

.note-editor .note-editing-area {
    height: 500px !important;
}

.note-resizebar {
    display: none !important;
}


/* Time Picker */

.timepicker-picker .btn {
    background: #989898 !important;
}


/* Card Special */

.card-special {
    border-radius: 7px !important;
}


/* Media/Image Box */

@media (min-width: 768px) {
    .modal-dialog {
        width: 85% !important;
        margin: 2% auto !important;
    }
}

.modal-content {
    display: flow-root !important;
}


/* 
.modal-body{

    padding: 0px !important; 
}
*/

#media-menu {
    border-right: 1px dashed #f70072;
    height: 550px !important;
}

.media-left-menu {
    margin: 15% 0px !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
}

.media-left-menu>li {
    font-size: 14px;
    list-style: none;
    text-decoration: none;
    font-weight: 500;
    padding: 4px 0px;
}

.media-left-menu>li>a:hover {
    padding-left: 4px;
    color: #ff0000;
}

h2.media-header {
    font-weight: bold;
}

.placed-h2 {
    font-size: 17px !important;
}

.card-padding {

    padding-top: 0px !important;
    padding-left: 20px !important;
}

.fileinput .fileinput-preview {
    width: 140% !important;
}

.thumbnail {

    background-color: #FDFDFD !important;
    border: 1px solid #FDFDFD !important;
}

